<% girls.forEach(girlShards => { %>
    <div class="girl">
        <div class="shard">x<%= girlShards.shards%></div>
        <img src="https://hh.hh-content.com/pictures/girls/<%= girlShards.idGirl %>/ico0.png" />
    </div>
<% }); %>
