html {
    width: 100%;
    height: 100%;
    background: url(https://hh.hh-content.com/design/bg_pattern2.png) fixed,
        #301 linear-gradient(to bottom, #402, #101) fixed;
    background-size: 100px 100px, 100% 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: center top no-repeat fixed;
    color: white;
}

#main {
    width: 800px;
    height: calc(95% - 36px);
    margin: auto;
    padding: 10px 0;
    background: url(https://hh.hh-content.com/pictures/design/dex_bg_pattern.png), linear-gradient(to top, #572332 0, #572332 1%, #2c1e1c 100%);
    border-radius: 7px;
    border: 3px solid #ffa23e;
    box-shadow: inset 0 0 40px 15px #662034;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top,#ffa23e 0,#ff545c 100%);
    box-shadow: 0 2px 0 1px rgba(0,0,0,.35), inset 0 3px 0 rgba(255,232,192,.75);
    border-radius: 10px;
}

header {
    width: 1000px;
    height: 36px;
    margin: 0 auto;
    padding-top: 4px;
    position: relative;
}

.hh_logo {
    font-size: 0;
    background: url(https://hh.hh-content.com/pictures/design/normal_circular_logo.png) center center / contain no-repeat;
    display: block;
    width: 36px;
    height: 36px;
    float: left;
}

.event {
    width: 550px;
    margin: auto;
    padding: 3px;
    text-align: center;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.3), inset 0 0 5px rgba(255,93,177,.2);
    background-color: #4f222e;
    border: 1px solid #dc659c;
}

.separator {
    width: 1px;
    height: 10px;
    background-color: #dc659c;
    margin: auto;
}

.separator:last-child {
    display: none;
}

.event .date {
    text-align: right;
    font-size: 0.8em;
    padding-top: 5px;
    color: gray;
    clear: both;
}

.item, .girl-ico {
    width: 80px;
    height: 100px;
    margin: 5px;
    float: left;
    position: relative;
}

.item img, .girl-ico img {
    width: 80px;
    height: 80px;
}

.item.common img {
    background-color: #8d8e9f;
}

.item.rare img {
    background-color: #23b56b;
}

.item.epic img {
    background-color: #ffb244;
}

.item.legendary img {
    background-color: #9150bf;
    background-image: url(https://hh.hh-content.com/legendary.png);
    background-size: contain;
}

.girl-ico .shard {
    float: left;
    background-image: url(https://hh.hh-content.com/shards_s.png);
    background-size: 40px;
    background-repeat: no-repeat;
    position: absolute;
    width: 80px;
    height: 40px;
    padding-top: 5px;
    font-size: 20px;
    font-family: "Carter One", "Alegreya Sans", sans-serif;
    font-weight: bold;
    color: #80058b;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;
}

.item .quantity {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 55px;
    background-color: #580;
    color: white;
    font-size: 16px;
    font-family: "Carter One", "Alegreya Sans", sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.girl {
    height: 300px;
}

.girl img {
    height: 100%;
}

.clear {
    clear: both;
}

.opponent {
    width: 160px;
    margin: 5px;
    float: left;
    position: relative;
}

.opponent img {
    width: 100%;
    border-radius: 5px;
}

.opponent .ego {
    height: 24px;
    padding-top: 3px;
    padding-left: 10px;
    background-image: linear-gradient(to right, #057, #0af);
    position: relative;
    top: -8px;
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.carac {
    width: 45px;
    margin: 0 4px;
    padding-top: 30px;
    float: left;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}

.carac1 {
    background-image: url(https://hh.hh-content.com/caracs/hardcore.png);
}

.carac2 {
    background-image: url(https://hh.hh-content.com/caracs/charm.png);
}

.carac3 {
    background-image: url(https://hh.hh-content.com/caracs/knowhow.png);
}

.class {
    width: 25px;
    height: 25px;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.level {
    width: 25px;
    height: 25px;
    padding: 2px;
    float: left;
    background-color: #b14;
    border: 1px solid white;
    border-radius: 50%;
}

.level div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #f70;
    position: relative;
    top: -2px;
    left: -2px;
    color: white;
    font-weight: bold;
}

.opponent .result {
    width: 140px;
    position: absolute;
    top: 90px;
    left: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    transform: rotate(-15deg);
    box-shadow: 0 0 7px 4px #000;
    z-index: 3;
}

.opponent .result.success {
    border: 2px solid #6a1;
    color: #6a1;
}

.opponent .result.lost {
    border: 2px solid #a00;
    color: #a00;
}

.opponent .player {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 33px;
    background: rgba(0,0,0,.7);
    z-index: 2;
    border-radius: 5px;
}

#sum {
    width: 557px;
    margin: 0 auto 10px;
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.3), inset 0 0 5px rgba(255,93,177,.2);
    background-color: #4f222e;
    border: 1px solid #dc659c;
}

#sum td {
    text-align: right;
}

.sum_detail td:first-child {
    text-align: left;
}

.sum_detail td:last-child {
    text-align: right;
}

#membersClub a, #membersClub:visited {
    color: white;
}

#share {
    display: block;
    width: 36px;
    height: 36px;
    float: left;
    margin-left: 15px;
}
