Amélioration d'une fille<br />
<% if ( event.girlUpgrade.softCurrency ) { %>
    <%= formatNumber(event.girlUpgrade.softCurrency) %>$<br />
<% } %>
<% if ( event.girlUpgrade.hardCurrency) { %>
    <%= formatNumber(event.girlUpgrade.hardCurrency) %> koban<br />
<% } %>
<div class="girl-ico">
    <img src="https://hh.hh-content.com/pictures/girls/<%= event.girlUpgrade.girl %>/ico0.png" />
</div>
